{
    email terryong30@gmail.com
}

api.negolah.my {
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    request_body {
        max_size 10MB
    }

    reverse_proxy backend:8000
}
