fastapi
python-dotenv
uvicorn
pydantic
bcrypt
python-multipart
langchain-google-genai
supabase
stripe
langchain-community
langchain
langchain-core
redis>=4.6.0
numpy
pydantic-settings
apify-client
requests
langgraph
